In [1]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\nereu.campos\appdata\local\programs\python\python310\lib\site-packages (4.0.34)Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the 'c:\Users\nereu.campos\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [7]:
import pyodbc
#dns -> conversão do endereço em ip
server = 'dlapoio.database.windows.net'
database = 'masterUber'
username = 'andre'
password = 'ShC12%Uz'
driver = 'SQL Server'

#conexão com banco de dados
cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+
                      ';UID='+username+';PWD='+password)
#Criar um obj que vc consegue enviar coisa pro banco 
#cnxn é o que conecta com o banco e usa a biblioeca dele 

cursor = cnxn.cursor()

cursor.execute('SELECT * FROM tb_pessoas')

for linha in cursor.fetchall():
    print(linha)

(1, 'andre', 35)
(2, 'ana', 26)
(3, 'joão', 45)

In [10]:
import sqlite3

conn = sqlite3.connect('espm4s.db')
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS tb_pessoas(
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT, 
    nome TEXT NOT NULL,
    idade INT NOT NULL
)
""")
#para commitar
conn.commit()

In [13]:
import sqlite3

conn = sqlite3.connect('espm4s.db')
cursor = conn.cursor()
nome = input('Digite o nome: ')
idade = int(input('Digite a idade: '))
cursor.execute('INSERT INTO tb_pessoas(nome, idade) VALUES (?,?)', (nome, idade))

print('linha criada')
conn.commit()

conn.close()

linha criada

In [17]:
import sqlite3

conn = sqlite3.connect('espm4s.db')
cursor = conn.cursor()


cursor.execute('DELETE FROM tb_pessoas  WHERE id = 1')

print('delete ok')

conn.commit()

conn.close()

update ok